{% extends 'base.html' %}

{% block content %}
<section class="d-flex align-items-center justify-content-center container w-50 mb-5 mt-5">
    <div>
        <h2 class="mb-4">Tarifi Düzenle</h2>
        <form>
            <!-- form-recipe-name -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Tarif Adı">
                <label class="ms-1 text-muted">Tarif Adı</label>
            </div>
            <!-- /form-recipe-name -->

            <!-- form-material -->
            <label class="form-label mt-3">Malzemeler</label>

            <div class="row">
                <div class="col">
                    <select class="form-select text-muted mb-3">
                        <option selected>Malzemenizi seçiniz..</option>
                        <option value="e1-1">One</option>
                        <option value="e1-2">Two</option>
                        <option value="e1-3">Three</option>
                    </select>
                </div>

                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Miktar">
                </div>

                <div class="col-3">
                    <select class="form-select text-muted mb-3">
                        <option value="e1-1">Gram</option>
                        <option value="e1-2">Adet</option>
                        <option value="e1-3">Litre</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <select class="form-select text-muted mb-3">
                        <option selected>Malzemenizi seçiniz..</option>
                        <option value="e1-1">One</option>
                        <option value="e1-2">Two</option>
                        <option value="e1-3">Three</option>
                    </select>
                </div>

                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Miktar">
                </div>

                <div class="col-3">
                    <select class="form-select text-muted mb-3">
                        <option value="e1-1">Gram</option>
                        <option value="e1-2">Adet</option>
                        <option value="e1-3">Litre</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <select class="form-select text-muted mb-3">
                        <option selected>Malzemenizi seçiniz..</option>
                        <option value="e1-1">One</option>
                        <option value="e1-2">Two</option>
                        <option value="e1-3">Three</option>
                    </select>
                </div>

                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Miktar">
                </div>

                <div class="col-3">
                    <select class="form-select text-muted mb-3">
                        <option value="e1-1">Gram</option>
                        <option value="e1-2">Adet</option>
                        <option value="e1-3">Litre</option>
                    </select>
                </div>
            </div>

            <div class="text-center mb-4">
                <button type="submit" class="w-25 btn btn-primary btn-sm"><img src="static/plus.svg"></button>
            </div>
            <!-- /form-material -->

            <!-- form-comment-->
            <div class="form-floating mb-4">
                <textarea type="text" style="height: 150px" class="form-control" placeholder="Yapılışı"></textarea>
                <label class="text-muted">Yapılışı</label>
            </div>
            <!-- /form-comment-->

            <!-- form-images -->
            <div class="row">
                <div class="col">
                    <img style="height: 12em;" class="rounded"
                        src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80">
                    <div class="text-center">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>

                <div class="col">
                    <img style="height: 12em;" class="rounded"
                        src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80">
                    <div class="text-center">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>

                <div class="col">
                    <img style="height: 12em;" class="rounded"
                        src="https://images.unsplash.com/photo-1512058454905-6b841e7ad132?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80">
                    <div class="text-center">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <div class="input-group mt-3">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload">
                <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Yükle</button>
            </div>
            <!-- /form-images -->

            <!-- form-draft -->
            <div class="form-check form-switch mt-4">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Herkese Açık</label>
            </div>
            <!-- /form-draft -->

            <!-- form-button -->
            <div class="mt-3">
                <button type="button" class="btn btn-primary">Tarifi Güncelle</button>
            </div>
            <!-- /form-button -->
        </form>
    </div>
</section>


{% endblock %}