{% extends 'base.html' %}

{% block content %}
<section class="d-flex align-items-center justify-content-center container w-50 mb-5 mt-5">
    <div>
        <h2 class="mb-4">Tarifi Düzenle</h2>
        <form method="POST" action="{% url 'app:edit' slug=recipe.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- form-button -->
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Tarifi Güncelle</button>
            </div>
            <!-- /form-button -->
        </form>
    </div>
</section>


{% endblock %}