{% extends 'base.html' %}

{% block content %}

<section style="height: 68vh;" class="d-flex align-items-center justify-content-center container">
    <form class="w-50" method="POST">
        {% csrf_token %}
        <h2 class="text-start mb-4">Giriş Yap</h2>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <!-- form-username -->
        <div class="form-floating bg-body rounded">
            {{ form.username }}
            <label for="floatingUsername">Kullanıcı Adı</label>
        </div>
        <!-- /form-username -->

        <!-- form-password -->
        <div class="form-floating bg-body rounded mt-3">
            {{ form.password }}
            <label for="floatingPassword">Şifre</label>
        </div>
        <!-- /form-password -->

        <!-- form-button -->
        <div class="text-start mt-3">
            <input type="submit" value="Giriş Yap" class="btn btn-primary w-25">
        </div>
        <!-- /form-button -->

        <!-- form-register -->
        <div class="row mt-4">
            <div class="col text-end mt-1">
                <p class="text-muted">Hesabınız yok mu?</p>
            </div>
            <div class="col-8">
                <a type="button" href="/kayit" class="btn btn-primary">Hemen kayıt ol</a>
            </div>
        </div>
        <!-- /form-register -->
    </form>
</section>

{% endblock %}