{% extends 'base.html' %}

{% block content %}
    
    <div class="w-75 mx-auto mt-5 mb-5 row">

        <!-- recipe-head-->
        <div class="text-center mb-2">
            <h2>{{ recipe.title }}</h2>

            <!-- recipe-owner-->
            <img class="mb-1" src="{{ request.host_url }}/static/user.svg">
            <label>{{ recipe.author_info.username }}</label>
            <!-- /recipe-owner-->
            
            <!-- recipe-date-->
            <img class="mb-1 ms-4" src="{{ request.host_url }}/static/calendar.svg">
            <label>{{ recipe.created_at }}</label>
            <!-- /recipe-date-->
        </div>

        {% if recipe.images_arr %}
            <img style="width: 100%; height: 500px; object-fit: cover;" class="rounded" src="{{ request.host_url }}/static/{{ recipe.images_arr.0 }}">
        {% endif %}
        <!-- /recipe-head-->

        <!-- recipe-elements-->
        <div class="mt-3">
            <h5 class="fw-bold text-center">Malzemeler</h5>
            <div class="d-flex justify-content-center">
            <dl>
                {% for component in recipe.components_arr %}
                    <li>{{ component }}</li>
                {% endfor %}
            </dl>
            </div>
        </div>
        <!-- recipe-elements-->

        <!-- recipe-making-->
        <div class="mt-3 w-75 mx-auto">
            <h5 class="fw-bold text-center">Yapılışı</h5>
            <p>{{ recipe.description }}</p>
        </div>
        <!-- /recipe-making-->

        <!-- recipe-photos-->
        <div class="container mt-4 w-75 mx-auto">
            <div class="row">
                {% for recipe_image in recipe.images_arr %}
                    <div class="col-lg-6 mb-4">
                        <img style="width: 100%; height: 280px; object-fit: cover;" class="img-fluid rounded" src="{{ request.host_url }}/static/{{ recipe_image }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /recipe-photos-->

        <!-- recipe-comments-->
        <div class="mt-5">
            <div class="text-center">
                <label class="fw-bolder fs-5">Yorumlar • </label>
                <label class="fw-bolder fs-6">{{ comments|length }}</label>
            </div>

            <!-- comments -->
            <div class="mt-3 w-75 mx-auto">

                {% for comment in comments %}
                <!-- comment -->
                <div class="row my-4">
                    <div class="col text-start">
                        <!-- <img class="mb-1" src="http://{{ request.get_host }}/static/user.svg"> -->
                        {% if comment.author_info.first_name %}
                            <label>{{ comment.author_info.first_name }} {{ comment.author_info.last_name }} • </label>
                        {% endif %}
                        <label class="fst-italic">{{ comment.author_info.username }}</label>
                    </div>

                    <div class="col text-end">
                        {% if comment.author_info.pk == user.pk %}
                        <a href="/yorum-sil/{{ comment.pk }}" class="me-4">Yorumu Sil</a> 
                        {% endif %}
                        <label class="fst-italic">{{ comment.created_at }}</label>
                    </div>

                    <div class="ms-3 me-3">
                        {{ comment.comment }}
                    </div>
                </div>
                <!-- /comment -->
                {% endfor %}
            </div>
            <!-- /comments -->
           
            <!-- form-comment -->
            <form name="form" action="/tarif/{{ recipe.slug }}/" method="POST" class="mt-5 w-75 text-center mx-auto">
                <h5 class="fw-bold">Bir Yorum Yazın</h5>
                <!-- Error message improvements required -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                          <div class="alert alert-danger">
                            {{ error|escape }}
                          </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <input name="recipe_id" type="hidden" value="{{ recipe.pk }}" />
                <div class="form-group">
                    <textarea name="comment" type="text" style="height: 100px" class="form-control" placeholder="Tarif hakkında fikriniz, yorumunuzu paylaşın."></textarea>
                </div>
                <button type="submit" class="d-block mt-2 btn btn-primary btn-sm">Paylaş</button>
            </form>
            <!-- /form-comment -->

        </div>
        <!-- recipe-comments-->

    </div>

{% endblock %}
