{% extends 'base.html' %}

{% block content %}
    <section style="height: 68vh;" class="d-flex align-items-center justify-content-center container">
        <div>
            <h2 class="mb-4">Kayıt Ol</h2>
            <form action="{% url 'app:register' %}" method="POST" >
                {% csrf_token %}
                <!-- form-name -->
                <div class="row mb-3">
                    <div class="col form-floating">
                        {{form.first_name}}
                        <label class="ms-3">Ad</label>
                    </div>
                    <div class="col form-floating">
                        {{form.last_name}}
                        <label class="ms-3">Soyad</label>
                    </div>
                </div>
                <!-- /form-name -->

                <!-- form-username -->
                <div class="form-floating mb-3">
                    {{form.username}}
                    <label class="ms-1">Kullanıcı Adı</label>
                </div>
                <!-- /form-username -->

                <!-- form-email -->
                <div class="form-floating mb-3">
                    {{form.email}}
                    <label class="ms-1">E-posta</label>
                </div>
                <!-- /form-email -->

                <!-- form-password -->
                <div class="row mb-3">
                    <div class="col form-floating">
                        {{form.password1}}
                        <label class="ms-3">Şifre</label>
                    </div>
                    <div class="col form-floating">
                        {{form.password2}}
                        <label class="ms-3">Şifreyi Onayla</label>
                    </div>
                </div>
                <!-- /form-password -->

                <!-- form-policy -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label"><a href="/policy">Kullanım şartları</a>nı kabul ediyorum.</label>
                </div>
                <!-- /form-policy -->

                <!-- form-button -->
                <div class="text-start mt-3">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
                <!-- /form-button -->
            </form>
        </div>
    </section>


{% endblock %}


{% block scripts %}

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Ad';
    form_fields[2].placeholder = 'Soyad';
    form_fields[3].placeholder = 'Kullanıcı Adı';
    form_fields[4].placeholder = 'E-posta';
    form_fields[5].placeholder = 'Şifre';
    form_fields[6].placeholder = 'Şifreyi Onayla';


    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }

</script>

{% endblock %}