{% extends 'base.html' %}

{% block content %}

<!-- search-listing -->
<section class="my-5">
    <div class="container">
        <h4 class="mb-4">'{{ query }}' için arama Sonuçları</h4>

        <!-- search-results -->
        <div class="row">
            {% for result in results %}
            {% if result.state == 1 or result.author == user.pk %}
            <!-- search-result -->
            <div class="col-lg-4">
                <a href="/tarif/{{ result.slug }}" class="text-dark text-decoration-none d-block my-2">
                    <!-- {% if result.images_arr %}
                            <img style="height: 280px; object-fit: cover; width: 100%;" class="img-fluid rounded" src="{{ request.host_url }}/static/{{ result.images_arr.0 }}" />
                        {% else %}
                            <img style="height: 280px; object-fit: cover; width: 100%;" class="img-fluid rounded" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
                        {% endif %} -->

                    <!-- recipe-image -->
                    <img src="{{ request.host_url }}/upload/{{ result.image }}"
                        style="height: 280px; object-fit: cover; width: 100%;" class="img-fluid rounded">
                    <!-- /recipe-image -->

                    <div class="p-2">
                        <h4>{{ result.title }}</h4>
                        <div>{{ result.author_info.username }}</div>
                    </div>
                </a>
            </div>
            <!-- /search-result -->
            {% endif %}
            {% endfor %}
        </div>
        <!-- /search-results -->

    </div>
</section>
<!-- /search-listing -->

{% endblock %}