    <footer class="bg-dark py-4">
        <div class="container text-white text-start">
            <div class="row">
                <div class="col-md-3 ">
                    <h4 class="text-muted mb-3 fw-normal">PyRecipe</h4>
                    <ul class="list-unstyled">
                    <i class="fas fa-phone-alt mb-3"><small>  +90 123 456 789</small></i>
                    <div style="line-height:50%;">
                        <br>
                    </div>

                    <i class="far fa-envelope">  info@pyrecipe.com</i>
                    </ul>
                </div>
                
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <h4 class="text-muted  mb-3 fw-normal">Hakkımızda</h4>
                        <li class="text mb-3"><small>İhtiyacınıza göre uygun tarifi göstermeye<br> çalışan bir yazılım ekibi.</small></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center"> 
                    <ul class="list-unstyled">
                        <li class="text-muted  mb-2">Yasal</li>
                        <li class="text-muted mb-2" >Gizlilik</li>
                        <li class="text-muted mb-2">Cookies</li>
                        <li class="text-muted mb-2">Reklamlar Hakkında</li>
                    </ul>
                   
                    
                </div>
                
                
                <div class="col-md-3">
                    <h4 class="text-muted mb-2 text-center fw-normal">Sosyal Medya</h4>
                    <div class="text-center">
                        <i class="fab fa-facebook-f fa-2x mx-3 mt-4" aria-hidden="true"></i>
                        <i class="fab fa-github fa-2x mx-3" aria-hidden="true"></i>
                        <i class="fab fa-instagram fa-2x mx-3" aria-hidden="true" ></i>
                        <i class="fab fa-twitter-square fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
    
            </div>
        </div>
    </footer>
  
