    <footer class="bg-dark py-4">
        <div class="container text-white text-start">
            <div class="row">
                <div class="col-md-3 ">
                    <h4 class="text-muted mb-3 fw-normal">PyRecipe</h4>
                    <ul class="list-unstyled">
                    <img style="width: 25px; height: 25px;" class="me-1" src="{{ request.host_url }}/static/phone.svg" /> +90 123 456 789
                    <div style="line-height:50%;">
                        <br>
                    </div>
                    <img style="width: 25px; height: 25px;" class="me-1" src="{{ request.host_url }}/static/mail.svg" /> info@pyrecipe.com
                    </ul>
                </div>
                
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <h4 class="text-muted  mb-3 fw-normal">Hakkımızda</h4>
                        <li class="text mb-3"><small>İhtiyacınıza göre uygun tarifi göstermeye<br> çalışan bir yazılım ekibi.</small></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center"> 
                    <ul class="list-unstyled">
                        <li class="text-muted  mb-2">Yasal</li>
                        <li class="text-muted mb-2" >Gizlilik</li>
                        <li class="text-muted mb-2">Cookies</li>
                        <li class="text-muted mb-2">Reklamlar Hakkında</li>
                    </ul>
                   
                    
                </div>
                
                
                <div class="col-md-3">
                    <h4 class="text-muted mb-2 text-center fw-normal">Sosyal Medya</h4>
                    <div class="d-flex mt-2">
                        <img class="me-3" style="width: 45px; height: 45px;" src="{{ request.host_url }}/static/facebook.svg" />
                        <img class="me-3" style="width: 45px; height: 45px;" src="{{ request.host_url }}/static/github.svg" />
                        <img class="me-3" style="width: 45px; height: 45px;" src="{{ request.host_url }}/static/instagram.svg" />
                        <img style="width: 45px; height: 45px;" src="{{ request.host_url }}/static/twitter.svg" />
                    </div>
                </div>
    
            </div>
        </div>
    </footer>
  
