<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="h-100 d-flex flex-column justify-content-center align-items-start">
                    <h2 class="fs-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque nunc
                        aliquam vehicula elit urna.</p>
                    <a class="mt-4 btn btn-primary btn-lg" href="#">Kullanmaya Başla</a>
                </div>
            </div>
            <div class="col-lg-6 mt-2 mt-lg-0">
                <img class="img-fluid shadow rounded"
                    src="https://images.unsplash.com/photo-1512058454905-6b841e7ad132?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80" />
            </div>
        </div>
    </div>
</section>